.notFound-content {
    margin: 50px auto;
    max-width: 90%;

    @include respond-to('medium') {
        height: 60vh;
        display: flex;
    }
}

.notFound__p {
    margin: 20px 0 40px 0;

    @include respond-to('small') {
        max-width: 600px;
    }
}

.notFound__btn-container {

    @include respond-to('small') {
        display: flex;
    }
     
    .secondary-btn {
        margin-bottom: 30px;

        @include respond-to('small') {
            margin-right: 30px;
        }
    }
}

.notFund__img-container {
    display: none;

    @include respond-to('medium') {
        display: contents;
        position: absolute;
        min-width: 500px;
    }
}