.about__h1 {
    margin-bottom: 25px;
}

.about__text-btn {
    @include respond-to('medium') {
        flex: 65%;
        margin-right: 30px;
    }
}

.about__p--1 {
    margin-bottom: 10px;
}

.about__p--2 {
    margin-bottom: 15px;
}

.about__btn {
    margin-bottom: 20px;
}

.about__img-some {
    position: relative;
    @include respond-to('medium') {
        flex: 35%;
    }
}

// Circle information
.about__circle {
    position: absolute;
    right: 5px;
    top: -80px;
    z-index: 3;
    padding: 20px 10px;
    width: 120px;
    text-align: center;

    @include respond-to('x-small') {
        right: 20px;
    }

    @include respond-to('medium') {
        width: 125px;
        top: 50px;
    }

    @include respond-to('large') {
        right: 90px;
        // top: 0;
    }

    // @include respond-to('x-large') {
    //    right: 120px;
    // }
}

// SoMe
.about__some {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-around;
    margin-bottom: 50px;
}

// Good to know
.about__good-to-know-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;

    @include respond-to('medium') {
        max-width: 500px;
        margin-top: 50px;
    }
}

// Gallery
.about__gallery--h2 {
    margin: 50px 0 25px 0;
}

.about__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__img-container {
    margin: 5px;
    flex: 40%;

    @include respond-to('small') {
        flex: 30%;
    }

    @include respond-to('large') {
        flex: 20%;
    }
}

// .about__img-container:nth-child(2) {
//     @include respond-to('small') {
//         flex: 35%;
//     }

//     @include respond-to('large') {
//         flex: 25%;
//     }
// }

// .about__img-container:nth-child(4) {
//     @include respond-to('small') {
//         flex: 35%;
//     }

//     @include respond-to('large') {
//         flex: 25%;
//     }
// }