.about__h1 {
    margin-bottom: 15px;

    @include respond-to('large') {
        position: relative;
        top: 100px;
    }

    @include respond-to('x-large') {
        // top: 125px;
    }
}

.about__text-img-container {
    @include respond-to('medium') {
        display: flex; 
        justify-content: space-between;
    }
}

.about__text-btn {
    @include respond-to('medium') {
        flex: 65%;
        margin-right: 30px;
    }

    @include respond-to('large') {
        margin-top: 100px;
    }

    @include respond-to('x-large') {
        // margin-top: 125px;
    }
}

.about__p--1 {
    margin-bottom: 10px;
    width: 55%;
    max-width: 300px;

    @include respond-to('small') {
        max-width: 400px;
    }

    @include respond-to('medium') {
        max-width: 550px;
        width: 100%;
    }
}

.about__p--2 {
    margin-bottom: 15px;

    @include respond-to('medium') {
        margin-bottom: 30px;
        max-width: 550px;
    }
}

.about__btn {
    margin-bottom: 20px;
}

.about__img-some {
    @include respond-to('medium') {
        flex: 35%;
    }

    @include respond-to('large') {
        flex: 60%;
        position: relative;
        max-width: 650px;
    }

    .about__img {
        @include respond-to('large') {
            max-width: 350px;
            margin: 0 auto;
        }

        @include respond-to('x-large') {
            max-width: 375px;
        }
    }
}

// Circle information
.about__circle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    padding: 20px 10px;
    width: 120px;
    text-align: center;

    @include respond-to('medium') {
        width: 135px;
        top: 120px;
    }

    @include respond-to('large') {
        right: 90px;
        top: 0;
    }

    @include respond-to('x-large') {
       right: 120px;
    }
}

// SoMe
.about__some {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-around;
    margin-bottom: 50px;
}

// Good to know
.about__good-to-know-container {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 400px;
    margin: 0 auto;

    @include respond-to('medium') {
        max-width: 500px;
        margin-top: 50px;
    }
}

// Gallery
.about__gallery--h2 {
    margin: 50px 0 25px 0;
}

.about__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about__img-container {
    margin: 5px;
    flex: 40%;

    @include respond-to('small') {
        flex: 30%;
    }

    @include respond-to('large') {
        flex: 20%;
    }
}

// .about__img-container:nth-child(2) {
//     @include respond-to('small') {
//         flex: 35%;
//     }

//     @include respond-to('large') {
//         flex: 25%;
//     }
// }

// .about__img-container:nth-child(4) {
//     @include respond-to('small') {
//         flex: 35%;
//     }

//     @include respond-to('large') {
//         flex: 25%;
//     }
// }