// Primary
.primary-btn {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px;
    background-color: $link;
    border: 2px solid $link;
    display: inline-block;
    height: 45px;
    width: 170px;
    position: relative;
    transition: .2s ease-in-out;
    z-index: 4;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: .2s ease-in-out;
        color: $white;

        &:hover {
            letter-spacing: 2px;
        }
    }

    &:hover {
        background-color: $orange;
        border: 2px solid $orange;
    }

    &:active {
        box-shadow: inset 0 0 10px $white;
    }

    &:visited {
        border: 2px solid rgb(71, 71, 71);
    }
}

// Secondary
.secondary-btn {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px;
    background-color: transparent;
    border: 2px solid $dark-blue;
    display: inline-block;
    height: 45px;
    width: 170px;
    position: relative;
    transition: .2s ease-in-out;
    z-index: 4;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: .2s ease-in-out;
        color: $dark-blue;

        &:hover {
            letter-spacing: 2px;
            color: $white;
        }
    }

    &:hover {
        background-color: $dark-blue;
        border: 2px solid $dark-blue;
    }

    &:active {
        box-shadow: inset 0 0 10px $white;
    }
}

// Links
.link {
    color: $link;
    transition: 0.2s ease-in-out all;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: $orange;
    }
}

// Product link
.ildsteder__product-container {
    cursor: pointer;
}

// Nav
.nav__link--extra .nav__link--extra-a {
    position: relative;
    z-index: 9;
    transition: .2s ease-in-out;

    &:hover {
        color: $link;
        letter-spacing: 2px;
    }
}

.dropdown:hover .dropdown__link-container {
    color: $link;

    .nav__link--extra-a {
        letter-spacing: 2px;
    }
}


.active {
    color: $link;
    letter-spacing: 2px;
    position: relative;
}

.link__container {
    cursor: pointer;
}

// Buttons
button {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 3px 6px;
    display: inline-block;
    height: 50px;
    width: 170px;
    position: relative;
    transition: .2s ease-in-out;
    z-index: 4;
    cursor: pointer;

    @include respond-to('small') {
        width: 300px;
    }

    &:hover {
        letter-spacing: 2px;
    }

    &:active {
        box-shadow: inset 0 0 10px $white;
    }

    &:visited {
        border: 2px solid rgb(71, 71, 71);
    }
}

.submit {
    background-color: $link;
    border: 2px solid $link;
    color: $white;

    &:hover {
        background-color: $orange;
        border: 2px solid $orange;
    }

}

// Services
.our-services__services--btn {
    transition: ease-in-out .2s;
}

.our-services__services--btn:hover {
    transform: scale(1.1);
}

// Dialog boxes
.success-btn {
    background-color: $success;
    border: 2px solid $success;
    color: #000;

    &:hover {
        background-color: #185a32 !important;
        border: 2px solid #185a32;
    }
}

.error-btn {
    background-color: $error;
    border: 2px solid $error;
    color: $white;

    &:hover {
        background-color: #af2f3a;
        border: 2px solid #af2f3a;
    }
}

.contact-link {
    cursor: pointer;
}

// 404
.not-found__secondary-btn {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 115%;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: -5px;
        transition: ease-in-out 0.3s;
        opacity: 0;
    }
}

.not-found__secondary-btn:hover {
    &::after {
        bottom: 0;
        opacity: 1;
        width: 115%;
    }
}

.not-found__secondary-btn__a {
    width: 110%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-right: 5px;
}

.not-found__secondary-btn__a--text {
    display: block;
}

.not-found__secondary-btn__img {
    position: relative;
    left: 5%;
    transition: ease-in-out 0.3s;
}

.not-found__secondary-btn:hover .not-found__secondary-btn__img {
    left: 13px;
}

// Update btn
.update-btn {
    transition: ease-in-out 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}