.consider-rehab {
    @include respond-to('medium') {
        margin-bottom: 250px;
    }
}

.consider-rehab__text {
    margin-bottom: 50px;
    @include respond-to('medium') {
        margin-bottom: 100px;
    }

    @include respond-to('large') {
        margin-bottom: 150px;
    }
}

.consider-rehab__all-cards {
    @include respond-to('medium') {
        display: flex;
    }
}

.consider-rehab__card {
    background-color: #FFF;
    padding: 10px;
    margin: 15px auto;
    position: relative;
    z-index: 2;

    @include respond-to('small') {
        max-width: 70%;
    }

    @include respond-to('medium') {
        margin: 0 20px;
        width: 300px;
        height: auto;
        padding: 20px;
    }
}

.consider-rehab__card:nth-child(2) {
    @include respond-to('medium') {
        margin-right: 100px;
    }

    @include respond-to('large') {
        margin-right: 300px;
    }
}

.consider-rehab__card--heading {
    display: flex;
    align-items: flex-end;
}

.consider-rehab__card--number {
    font-size: 50px;
    margin-right: 10px;
}

.consider-rehab__card--p {
    max-width: 80%;
    margin-left: 5px;
}

.consider-rehab__img--container {
    margin: 0 auto;
    max-width: 100%;
}

.consider-rehab__img {
    width: 100%;
    // max-width: 200px;
    height: auto;
    position: relative;
    // left: 100px;
    bottom: 20px;
    z-index: 1;
    transform: scaleX(-1);

    @include respond-to('medium') {
        position: absolute;
        max-width: 300px;
        width: 100%;
        left: 55%;
        bottom: 50px;
    }

    @include respond-to('large') {
        max-width: 370px;
        left: 50%;
    }
}

.consider-rehab__btn {
    width: 100px;
}