.consider-rehab {
    margin-top: 50px;
}

.consider-rehab__text {
    margin-bottom: 50px;
    width: 100%;
    max-width: 300px;

    @include respond-to('x-small') {
        max-width: 100%;
    }

    @include respond-to('medium') {
        margin-bottom: 100px;
    }
}

.consider-rehab__all-cards {
    @include respond-to('small') {
        display: flex;
    }
}

.consider-rehab__card {
    background-color: $white;
    padding: 20px;
    margin: 15px auto;
    position: relative;
    z-index: 2;

    @include respond-to('small') {
        max-width: 30%;
        margin: 0;
    }

    @include respond-to('medium') {
        width: 280px;
        height: auto;
        padding: 20px;
    }
}

.consider-rehab__card:nth-child(2) {
    @include respond-to('small') {
        margin: 0 20px;
    }
}

.consider-rehab__card--heading {
    display: flex;
    align-items: flex-end;
}

.consider-rehab__card--p {
    margin-top: 10px;
}

.consider-rehab__img--container {
    margin: 0 auto;
    max-width: 100%;
}

.consider-rehab__img {
    position: relative;
    bottom: 100px;
    z-index: 1;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include respond-to('small') {
        position: absolute;
        width: 50%;
        left: 0;
        right: 0;
        margin-left: 50vw;
        margin-right: 50vw;  
        bottom: -100px;
        z-index: -1;
    }

    @include respond-to('large') {
        width: 450px;
        left: -50px;
        bottom: -50px;
    }
}

.consider-rehab__btn {
    margin-top: -80px;

    @include respond-to('small') {
        margin-top: 30px;
    }
}