.contact  {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;

    @include respond-to('medium') {
        max-width: 80%;
    } 

    @include respond-to('large') {
        flex-direction: row;
        max-width: 90%;
    }
}

.contact__h1 {
    margin: 30px 0 0 0;

    @include respond-to('small') {
        margin: 30px 0 0 25px;
    }

    @include respond-to('medium') {
        margin-top: 50px;
    }

    @include respond-to('large') {
        width: 480px;
        margin: 100px auto 0 auto;
        // border: 1px solid blue;
    }
}

.form {
    margin-top: 30px;
    margin-bottom: 20px;

    @include respond-to('large') {
        width: 480px;
        margin: 30px auto 20px auto;
        // border: 1px solid blue;
    }
}

fieldset {
    border: none;
}

.contact__form-info {
    @include respond-to('large') {
        flex: 50%;
        margin: 0 auto;

        // border: 1px solid red;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
    }
}

// Input
.contact__input-container {
    margin: 10px 0;
    width: 100%;
    max-width: 400px;

    // border: 1px solid red;

    @include respond-to('small') {
        max-width: 300px;
        margin: 10px 5px;
    }

    @include respond-to('large') {
        max-width: 200px;
    }
}

.contact__input {
    border: 1px solid $white;
    background-color: $white;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    transition: all ease-in-out .2s;
    box-shadow: rgba(197, 197, 197, 0.2) 0px 3px 10px;
    height: 40px;
    color: $dark-blue;
}

.contact__form--flex {
    @include respond-to('small') {
        display: flex;
        flex-wrap: wrap;
    }
}

.contact__input--p {
    margin-left: 2px;
}

.contact__input-container--message {
    width: 100%;
    max-width: 400px;

    @include respond-to('small') {
        max-width: 610px;
    }

    @include respond-to('large') {
        max-width: 410px;
    }
}

.contact__message {
    width: 100%;
}

textarea:focus, input:focus {
    outline: none;
}

.input:focus {
    border: 0px;
    border: 1px solid $white;
    transition: all ease-in-out .2s;
    box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 10px;
}

// IMG
.contact__img-container {
    // border: 1px solid red;
    @include respond-to('large') {
        flex: 50%;
        display: flex;
        // align-items: flex-end;
        justify-content: center;
        position: relative;
    }
}

.contact__img {
    display: none;

    @include respond-to('large') {
        display: block;
        width: 450px;
        margin-top: 75px;
    }

    @include respond-to('x-large') {
        width: 500px;
    }
}

// BTN
.contact__btn {
    max-width: 400px;
    width: 100%;

    @include respond-to('small') {
        max-width: 610px;
        margin-left: 5px;
    }

    @include respond-to('large') {
        max-width: 410px;
    }
}

.submit {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;

    @include respond-to('small') {
        max-width: 610px;
    }

    @include respond-to('large') {
        max-width: 410px;
    }
}

.input__required {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;

    @include respond-to('small') {
        max-width: 610px;
    }

    @include respond-to('large') {
        max-width: 410px;
    }
}

// CONTACT CONTAINER
.contact__info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to('small') {
        max-width: 610px;
        margin-left: 25px;
    }

    @include respond-to('medium') {
        max-width: 615px;
    }

    @include respond-to('large') {
        max-width: 480px;
        margin-left: 0;
        margin: 0 auto;
    }
}

// EMAIL
.contact__info--email, .contact__some {
    width: 100%;
    max-width: 400px;
    margin-left: 20px;

    @include respond-to('small') {
        max-width: 610px;
        margin-left: 40px;
    }

    @include respond-to('medium') {
        margin-left: 0px;
    }

}

.contact__info--email {
    @include respond-to('small') {
        width: 145px;
        margin: 0 auto;
    }

    @include respond-to('medium') {
        margin: 0;
        width: 615px;
        text-align: center;
    }

    @include respond-to('large') {
        width: 415px;
    }
}

// SOME
.contact__some {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;

    @include respond-to('small') {
        width: 135px;
        justify-content: space-between;
        margin: 20px auto 10px auto;
    }

    @include respond-to('medium') {
        width: 615px;
        justify-content: center;
        margin: 10px 0;
    }

    @include respond-to('large') {
        width: 415px;
    }

    .some__img {
        margin-right: 50px;
        width: 35px;
        height: 35px;

        @include respond-to('small') {
            margin-right: 0px;
            width: 25px;
            height: 25px;
        }

        @include respond-to('medium') {
            margin: 0 10px;
        }
    }
}

// CIRCLE
.contact__circle-info {
    text-align: center;
    display: flex;
    align-items: center;
    width: 175px;
    height: 175px;
    float: right;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 15px;

    @include respond-to('x-small') {
        margin-top: 0;
    }

    @include respond-to('small') {
        margin-top: -50px;
    }

    @include respond-to('medium') {
        margin-top: 0;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0;
    }

    @include respond-to('large') {
        top: 20px;
        right: 20px;
    }

    @include respond-to('x-large') {
        right: 190px;
        display: flex;
        justify-content: center;
    }
}

// DROPDOWN
.input-dropdown {
    position: relative;
}

.form-dropdown__input {
    border-radius: 6px;
    border: 1px solid $white;
    background-color: $white;
    width: 100%;
    cursor: pointer;
    padding: 7px 5px 5px 5px;
    transition: all ease-in-out .2s;
    box-shadow: rgba(197, 197, 197, 0.2) 0px 3px 10px;
    height: 40px;
    font-size: 16px;
    color: $dark-blue;

    @include respond-to('medium')  {
        font-size: 18px;
    }
}

.form-dropdown__input:focus {
    border: 0px;
    border: 1px solid $white;
    transition: all ease-in-out .2s;
    box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 10px;
}

.option {
    font-family: objektiv-mk2, arial !important;
    font-weight: 400 !important;
    font-style: normal !important;
    letter-spacing: 10px !important;
    padding: 3px;
    font-size: 16px;
    color: $dark-blue;

    @include respond-to('medium')  {
        font-size: 18px;
    }
}

// ERROR TEXT
.contat__error--text {
    color: $error;
}