.footer {
    background-color: $footer;
    width: 125%;
    margin-left: -10%;
    margin-bottom: -10%;
    color: #FFF;

    @include respond-to('medium') {
        margin-left: -12.5%;
    }

    .dropdown__link-container {
        margin: 0;
    }

    // ul {
    //     margin-left: -40px;
    // }
}

.footer__logo-container {
    max-width: 150px;
    margin: 50px auto;
    padding-top: 25px;

    @include respond-to('medium') {
        max-width: 250px;
        padding-top: 50px;
    }
}

.footer__flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;

    @include respond-to('small') {
        flex-direction: row;
        max-width: 80%; 
    }
}

.footer__links-container {
    margin: 0 auto 40px auto;

    @include respond-to('small') {
        margin: 0 50px;
    }

    @include respond-to('medium') {
        margin: 0 90px;
    }
}

.footer__links {
    margin: 5px 0;
}

.footer__some {
    display: flex;
}

.footer__some--link {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.footer__contact {
    display: flex;

    @include respond-to('small') {
        padding-top: 30px;
    }

    border: 1px solid blue;
}

.footer__h3 {
    color: #FFF; 
    // position: relative;
    // bottom: 15px;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer__h6 {
    margin: 20px 0;
}

