.footer {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    color: $white;

    background-image: url(../../public/images/Image-1-photoshopped.jpg);
    background-repeat: no-repeat;    
    background-size: cover;

    .footer__logo-container {
        @include respond-to('medium') {
            display: flex;
            max-width: 80%;
            margin: 0 auto;
            margin-bottom: 100px;
            justify-content: space-between;
        }
    }

    .footer__img {
        width: 40%;
        padding: 75px 0 50px 0;
        margin: 0 auto;

        @include respond-to('medium') {
            width: 275px;
            height: 50px;
            padding-top: 100px;
        }
    }

    .footer__text {
        max-width: 400px;
        margin: 10px auto;

        @include respond-to('medium') {
            padding-top: 145px;
            margin: 0;
        }
    }

    .footer__contain {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include respond-to('medium') {
            flex-direction: row;
            flex-wrap: nowrap;
            margin-bottom: 100px;
        }
    }

    .footer__phone-container {
        display: flex;
    }

    .footer__contact--img {
        width: 20px;
        height: 20px;
        margin-right: 10px;

        @include respond-to('medium') {
            width: 30px;
            height: 30px;
        }

        @include respond-to('large') {
            margin-right: 20px;
        }
    }

    .footer__link-container {
        margin: 20px;
        flex: 40%;

        @include respond-to('medium') {
            margin: 20px 5px;
            flex: 25%;
        }

        @include respond-to('large') {
            margin: 30px 20px;
        }
    }

    .footer__links {
        margin: 15px 0;
    }

    .footer__links--SoMe {
        display: flex;
        cursor: pointer;
        margin: 10px 0 10px -7px;
    }

    .footer__SoMe--p {
        position: relative;
        top: 5px;

        @include respond-to('medium') {
            margin-left: 5px;
        }
    }

}

.footer__copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.footer__links--SoMe {
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
        color: $link;
    }
}

.footer__links {
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
        color: $link;
    }
}