.footer {
    background-color: $footer;
    width: 125%;
    margin-left: -10%;
    margin-bottom: -10%;
    color: #FFF;

    @include respond-to('medium') {
        margin-left: -12.5%;
    }

    .dropdown__link-container {
        margin: 0;
    }
}

.footer__logo-container {
    max-width: 150px;
    margin: 50px auto;
    padding-top: 25px;

    @include respond-to('medium') {
        max-width: 250px;
        padding-top: 50px;
    }
}

.footer__flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;

    @include respond-to('small') {
        flex-direction: row;
        max-width: 80%; 
    }
}

.footer__links-container {
    margin: 0 auto 40px auto;
    text-align: center;

    @include respond-to('small') {
        margin: 0 30px;
    }

    @include respond-to('medium') {
        margin: 0 40px;
    }

    @include respond-to('large') {
        margin: 0 60px;
    }
}

.footer__links { 
    margin: 15px 0;
}

.footer__some {
    display: flex;
}

.footer__links--SoMe {
    width: 30px;
    height: 30px;
    margin: 10px auto;

    &:hover {
        transform: scale(1.2);
    }
}

.footer__links {
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

.footer__contact {
    display: flex;
    justify-content: center;

    @include respond-to('small') {
        padding-top: 20px;
    }
}

.footer__contact--img {
    margin-right: 10px;
}

.footer__h3 {
    color: #FFF; 
}

.footer__copyright {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.footer__h6 {
    margin: 20px 0;
}

