* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}

body {
    background-color: $light-grey;
    color: $dark-blue;
    overflow-x: hidden;
    max-width: 95%;
    margin: 0 auto;

    @include respond-to('medium') {
        max-width: 80%;
    }

    // Font sizes
    h1, h2 {
        font-size: 35px;

        @include respond-to('medium')  {
            font-size: 45px;
            line-height: 50px;
        }
    }

    h3 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;

        @include respond-to('medium')  {
            font-size: 28px;
            line-height: 45px;
            font-weight: 400;
        }
    }

    h4 {
        font-size: 18px;
        line-height: 30px;

        @include respond-to('medium')  {
            font-size: 20px;
        }
    }

    h6 {
        font-size: 16px;

        @include respond-to('medium')  {
            font-size: 18px;
        }
    }

    p, input, textarea, .contact__dropdown {
        font-size: 16px;

        @include respond-to('medium')  {
            font-size: 18px;
            line-height: 30px;
        }
    }

    a, button {
        font-size: 18px;
    }

    .nav__phone-number {
        font-size: 20px;

        @include respond-to('medium')  {
            font-size: 20px;
        }
    }

    a {
        display: block;
    }

    ul {
        list-style-type: none;
    }

    section {
        
        @include respond-to('medium') {
            margin: 100px auto;
        }
    }

    .breadcrumb {
        display: flex;
        padding: 10px;

        .breadcrumb__line {
            width: 20px;
            height: 20px;
            position: relative;
            
            &::after, &::before {
                content: "";
            }

            &::after {
                background-color: $dark-blue;
                position: absolute;
                height: 1px;
                width: 20%;
                text-align: center;
                margin-left: 8px;
                margin-top: 10px;
            }

        }
    }

    // Additional info in circles
    .circle-info {
        background-color: $dark-blue;
        border-radius: 50%;

        .circle-info__h3 {
            color: #FFF !important;
        }
    }


    // Social Medias
    .some__img, .delete {
        cursor: pointer;
        transition: ease-in-out 0.3s;
    }

    .some__img:hover, .delete:hover {
        transform: scale(1.2);
    }
}

// Loader
.loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader-text {
    position: relative;
    bottom: 100px;
}

// Error handler
.error-components__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error-components__heading {
    color: $error;
}

// Update icon
.update-icon {
    position: absolute;
    top: 40px;
    // left: 30px;
    left: 10px;
    cursor: pointer;

    div img {
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; 
    }
}

// Full width images
.full-width__imgs {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include respond-to('small') {
        width: 100%;
        left: 0;
        right: 0;
        margin-right: 0;
        margin-left: 0;
    }
}

// Services
.services__btns {
    @include respond-to('x-small') {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.services__btn-container {
    margin: 20px 20px 0 0;
}