// SoMe
.index__some {
    background-color: $grey;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;

    @include respond-to('small') {
        margin: 80px 0 0 110px;
        width: 150px;
    }
    

    @include respond-to('medium') {
        position: absolute;
        left: -100px;
        margin: 80px 0 0 50px;
        top: 0;
        flex-direction: column;

        width: 50px;
        height: 200px;  
    }

    @include respond-to('large') {
        width: 40px;
        left: -90px;
    }
    
    .some__img {
        margin: 10px 15px 0 15px;

        @include respond-to('medium') {
            margin: 20px auto;
        }

        @include respond-to('large') {
            margin-left: 15px;
        }
    }


    img {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}

// Header
.index__content-container {
    @include respond-to('large') {
        height: 88vh;
        margin: 0;
    }

    // Global
    .index__text-container, .index__btn-container {
        @include respond-to('small') {
            position: relative;
            left: 50px;
            top: 50px;
        } 

        @include respond-to('large') {
            left: 100px;
            top: 80px;
        }
    }

    // Text
    .index__header--text {
        position: relative;
        left: 20px;

        @include respond-to('small') {
            top: 30px;
            left: 50px;
        }

        @include respond-to('medium') {
            top: 80px;
        }

        @include respond-to('large') {
            left: 0;
        }

        @include respond-to('x-large') {
            left: 7%;
            top: 100px;
        }
    }

    .index__text--h1 {
        max-width: 90%;
        padding-top: 30px;

        @include respond-to('small') {
            width: 480px;
        }

        @include respond-to('medium') {
            width: 650px;
        }

        @include respond-to('large') {
            width: 700px;
        }
    }

    .index__text--h3 {
        margin: 20px 0 0 0;
        max-width: 90%;

        @include respond-to('small') {
            width: 350px;
            margin: 30px 0;
        }

        @include respond-to('medium') {
            margin: 30px 0;
            width: 450px;
        }

        @include respond-to('x-large') {
            margin-bottom: 50px;
        }
    }

    // Images
    .index__images-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
        // position: relative;
        // width: 100vw;
        // left: 50%;
        // right: 50%;
        // margin-left: -50vw;
        // margin-right: -50vw;

        @include respond-to('small') {
            position: relative;
            left: 10%;
        }
    }

    .index__img {
        position: relative;
        right: 0;
        max-width: 100%;
        max-height: auto;
    }

    .index__img-1 {
        top: -30px;
        height: 100%;
        width: 125px;
        left: 70px;
        z-index: 2;

        @include respond-to('small') {
            width: 180px;
            left: 30px;
            top: -20px;
        }

        @include respond-to('medium') {
            top: 50px;
        }

        @include respond-to('large') {
            width: 200px;
            top: -50px;
            left: -45px;
        }

        @include respond-to('x-large') {
            width: 220px;
            left: -80px;
        }

        @include respond-to('xx-large') {
            width: 240px;
            top: 0;
            left: -100px;
        }
    }

    .index__img-2 {
        left: 40px;
        width: 170px;
        z-index: 1;

        @include respond-to('small') { 
            width : 250px;
            top: -200px;
            top: -130px;
            left: -40px;
        }

        @include respond-to('medium') {
            top: -50px;
        }

        @include respond-to('large') {
            width: 300px;
            left: -100px;
            top: -160px;
        }

        @include respond-to('x-large') {
            width: 350px;
            left: -125px;
            top: -200px;
        }

        @include respond-to('xx-large') {
            width: 375px;
            left: -145px;
            top: -200px;
        }
    }

    // Btn
    .index__btn-container {
        margin: 30px 0 0 0;
    }

    .our-services-container {
        .secondary-btn {        
            display: flex;
            border: 1px solid blue;
        }
        
        .secondary-btn a {
            border: 1px solid red;
        }
        
        .secondary-btn__img {        
            position: absolute;
            right: 30px;
            top: -25px;
        }
    }
}

// Our services
.our-services-container {
    margin: 0 auto;
    max-width: 100%;
    display: block;

    .our-services__services-container:nth-child(1), .our-services__services-container:nth-child(2) {
        flex: 1;
    }

    .our-services__services-container:nth-child(3), .our-services__services-container:nth-child(4) {
        flex: 1;
    }

    h2 {
        text-align: center;
        margin: 20px 0 30px 0;

        @include respond-to('medium') {
            margin-bottom: 80px;
        }
    }

    .our-services__services {
        display: block;
        

        @include respond-to('x-small') {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 150px 150px;
            width: 60%;
            min-width: 300px;
            margin: 0 auto;
        }
    }

    .our-services__wrap {
        @include respond-to('small') {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 50px;
        }

        @include respond-to('medium') {
            margin: 0 auto 50px auto;
            flex-wrap: nowrap;
            width: 80%;
            min-width: 600px;
        }

        @include respond-to('large') {
            width: 60%;
            margin-bottom: 30px;
        }
    }

    .our_services__services--houseImg {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);
        width: 160px;
        height: 50%;

        @include respond-to('small') {
            width: 180px;
        }

        @include respond-to('medium') {
            width: 220px;
            left: 52%;
        } 
    }

    .our-services__services--info {
        position: relative;
        z-index: 2;
        text-align: center;
        top: 30px;
        width: 140px;
        margin: 50px auto;
        height: 100px;

        @include respond-to('x-small') {
            margin: 0 auto;
        }

        @include respond-to('small') {
            height: 130px;
        }

        @include respond-to('medium') {
            padding-top: 15px;
            width: 220px;
        }

        .our-services__h4-container {
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .our-services__h4 {
            text-align: center;


            @include respond-to('small') {
                margin-top: 10px;
            }
        }

        .our-services__services--img {
            width: 40px;
            height: 40px;
            margin: 0 auto;

            @include respond-to('small') {
                width: 55px;
                height: 55px;
            }

            @include respond-to('medium') {
                width: 60px;
                height: 60px;
            }

            @include respond-to('large') {
                width: 55px;
                height: 55px;
            }
        }
    }
}

section {
    position: relative;
    z-index: 2;
}

// Contact
.index-contact {
    background-color: $grey;
    margin-top: 50px;
    margin-bottom: -50px;
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    z-index: 3;
}

.index-contact__flex {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding-top: 50px;
    margin: auto;

    @include respond-to('medium') {
        flex-direction: row;
        max-width: 77%;
        justify-content: space-between;
    }
}

.index-contact__text {
    margin-bottom: 50px;

    @include respond-to('medium') {
        width: 30%;
        margin: auto 0;
    }
}

.index-contact__h2 {
    margin-bottom: 40px;
}

.index-container__children {
    @include respond-to('medium') {
        margin-bottom: 50px;
    }
}

.index-contact__contact-info {
    display: flex;
    margin: 20px 0;

    h4 {
        margin: auto 0;
    }
}

.index-contact__img {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.index-contact__map-container {
    width: 50%;
    height: 10%;
    @include respond-to('medium') {
        width: 70%;
    }
}

.index-contact__map {
    width: 230%;
    margin-left: -15%;

    @include respond-to('medium') {
        width: 118%;
        margin-left: 30px;
    }

    @include respond-to('large') {
        margin-left: 50px;
    }

    @include respond-to('x-large') {
        margin-left: 100px;
    }
}


