// SoMe
.index__some {
    background-color: $light-blue;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 20px;

    @include respond-to('small') {
        margin: 60px 0 0 55px;
        width: 150px;
    }
    

    @include respond-to('medium') {
        position: absolute;
        left: -100px;
        top: 0;
        flex-direction: column;

        width: 50px;
        height: 200px;  
    }

    @include respond-to('large') {
        width: 40px;
        left: -90px;
    }
    
    .some__img {
        margin: 10px 15px 0 15px;

        @include respond-to('medium') {
            margin: 20px auto;
        }

        @include respond-to('large') {
            margin-left: 15px;
        }
    }


    img {
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}

// Header
.index__content-container {
    margin: 10px 20px;

    @include respond-to('medium') {
        height: 65vh;
        margin: 0;
    }

    @include respond-to('large') {
        height: 85vh;
    }

    // Global
    .index__text-container, .index__btn-container {
        @include respond-to('small') {
            position: relative;
            left: 50px;
            top: 50px;
        } 

        @include respond-to('large') {
            left: 100px;
            top: 80px;
        }
    }

    // Text
    .index__text--h1 {
        width: 500px;
        max-width: 85%;
        padding-top: 30px;

        @include respond-to('large') {
            width: 550px;
            margin-bottom: 50px;
        }
    }

    .index__text--h3 {
        margin: 40px 0 0 5px;
        width: 350px;
        max-width: 80%;

        @include respond-to('small') {
            margin-bottom: 40px;
        }
    }

    // Images
    .index__images-container {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }

    .index__img {
        position: relative;
        right: 0;
        max-width: 100%;
        max-height: auto;
    }

    .index__img-1 {
        top: 70px;
        height: 100%;
        width: 125px;
        left: 70px;
        z-index: 2;

        @include respond-to('small') {
            width: 170px;
            left: 90px;
        }

        @include respond-to('medium') {
            top: -20px;
        }

        @include respond-to('large') {
            width: 240px;
            top: -110px;
            left: 110px;
        }
    }

    .index__img-2 {
        left: 40px;
        width: 200px;
        z-index: 1;

        @include respond-to('small') {
            width : 300px;
            top: -80px;
        }

        @include respond-to('medium') {
            top: -140px;
        }

        @include respond-to('large') {
            width: 400px;
            left: 50px;
            top: -250px;
            
        }
    }

    // Btn
    .index__btn-container {
        margin: 30px 0 0 5px;
    }

    .our-services-container {
        .secondary-btn {        
            // position: relative;
            display: flex;
            border: 1px solid blue;
        }
        
        .secondary-btn a {
            border: 1px solid red;
        }
        
        .secondary-btn__img {        
            position: absolute;
            right: 30px;
            top: -25px;
        }
    }

}

// Our services
.our-services-container {
    margin: 0 auto;
    max-width: 80%;
    display: block;

    @include respond-to('medium') {
        max-width: 100%;
    }

    @include respond-to('large') {
        max-width: 100%;
    }

    h2 {
        text-align: center;
        margin: 80px 0 30px 0;

        @include respond-to('medium') {
            margin-bottom: 50px;
        }
    }

    .our-services__services-container {
        position: relative;
        margin: 0 10px 90px 10px;

        @include respond-to('medium'){
            margin: 20px 30px 50px 30px;
        }

        @include respond-to('large') {
            margin: 0 50px 50px 50px;
        }
    }

    .our-services__services {
        @include respond-to('small') {
            display: flex;
            justify-content: center;
        }
    }

    .our-services__wrap {
        @include respond-to('small') {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .our_services__services--houseImg {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%, 0);

        max-width: 220px;
        height: auto;

        @include respond-to('small') {
            max-width: 170px;
            height: 330px;
        }

        @include respond-to('medium') {
            max-width: 200px;
            height: 330px;
        }

        @include respond-to('large') {
            width: 220px;
            height: 300px;
        }
    }

    .our-services__services--info {
        position: relative;
        z-index: 2;
        text-align: center;
        top: 30px;
        height: 230px;

        .our-services__h4 {
            margin: 10px 0;
        }

        p {
            width: 200px;
            position: relative;
            margin: 0 auto;

            @include respond-to('small') {
                width: 160px;
            }

            @include respond-to('large') {
                width: 180px;
            }
        }

        .our-services__services--img {
            width: 60px;
            height: 60px;
            margin: 0 auto;

            @include respond-to('small') {
                width: 35%;
            }
        }
    }
    
    .our-services__btn {
        margin-top: 20px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;

        @include respond-to('small') {
            bottom: -50px;
        }

        @include respond-to('large') {
            bottom: -15px;
        }
    }
}

section {
    position: relative;
    z-index: 2;
}

// Contact
.index-contact {
    background-color: #FFF;
    margin-top: 50px;
    margin-bottom: -50px;
    width: 120%;
    margin-left: -5%;

    @include respond-to('small') {
        margin-top: 100px;
    }

    @include respond-to('medium') {
        width: 130%;
        margin-left: -15%;
        margin-top: 150px;
    }

    @include respond-to('large') {
        margin-top: 200px;
    }
}

.index-contact__flex {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding: 50px 0;
    margin: auto;

    @include respond-to('medium') {
        flex-direction: row;
        max-width: 77%;
        justify-content: space-between;
        padding: 100px 0;
    }
}

.index-contact__text {
    margin-bottom: 50px;

    @include respond-to('medium') {
        width: 30%;
    }
}

.index-contact__h2 {
    margin-bottom: 40px;
    max-width: 130px;
}

.index-container__children {
    @include respond-to('medium') {
        margin-bottom: 50px;
    }
}

.index-contact__contact-info {
    display: flex;
    margin: 20px 0;

    h4 {
        margin: auto 0;
    }
}

.index-contact__img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

.index-contact__map-container {
    width: 50%;
    height: 10%;
    @include respond-to('medium') {
        width: 70%;
    }
}

.index-contact__map {
    width: 220%;
    margin-left: -15%;

    @include respond-to('medium') {
        width: 118%;
        margin-left: 0;
    }
}


