.logo {
    position: relative;
    width: 200px;
    max-width: 100%;
    width: 150px;
    cursor: pointer;

    @include respond-to('medium') {
        left: -40px;
        top: 10px;
    }

    @include respond-to('large') {
        width: 200px;
    }
}

.nav__flex--desktop {
    @include respond-to('medium') {
        display: flex;
    }
}

.hamburger-active {
    z-index: 10;
    margin-left: 50px;
    position: fixed;
    right: 1.9%;
    margin-right: 10px;
    background-attachment: fixed;

    @include respond-to('medium') {
        display: none;
    }
}

.hamburger-inactive {
    position: absolute;
    right: 3%;

    @include respond-to('medium') {
        display: none;
    }
}

.nav__inactive {
    position: fixed;
    left: 130%;
    width: 100%;
    height: 100%;
    top: 0;
    transition: ease-in-out .3s;
    z-index: 8;

    @include respond-to('medium') {
        left: 0;
        position: absolute;
        height: 0%;
    }
}

.nav__active {
    background-color: $dark-blue;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: ease-in-out .3s;
    color: $white;
    z-index: 9;

    .circle {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: $light-blue;
        position: absolute;
        right: -40px;
        top: -40px;
        z-index: 10;
    }

    .logo-active {
        left: 10px;
        top: 5px;
    }

    .nav__menu-links {
        margin: 50px auto 0 auto;
    }

    .nav__link {
        display: flex;
        justify-content: center;
    }

    .nav__link a {
        text-align: center;
        font-size: 24px;
        padding: 20px 0;
        display: inline-block;
    }

    .nav__menu-links a:hover {
        color: #FFF;
    }

    .nav__search-option {
        text-align: center;
        width: 100%;

        img {
            margin-bottom: 10px;
        }
    }

    .nav__phone-option {
        margin: 20px 0 0 5px;
    }

    .nav__phone--icon {
        margin: 0 10px 0 0;
    }

    .active {
        color: $orange;
    }
}

.nav__mobile {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;

    @include respond-to('medium') {
        display: block;
        margin: 20px 0;

        position: relative;
        z-index: 11;
    }
}

.nav__menu {
    display: flex;
    flex-direction: column;

    @include respond-to('medium') {
        flex-direction: row;
        justify-content: space-between;
        max-width: 80%;
        margin: 30px auto;
    }

    .nav__menu-links {
        position: relative;

        @include respond-to('medium') {
            display: flex;
            position: relative;
            top: 20px;
            width: 500px;
            left: 110px;
        }

        @include respond-to('large') {
            left: 180px;
            top: 32px;
        }
    }
}

.nav__contact-options, .nav__phone-option {
    display: flex;
}

.nav__phone-option {
    margin: 0 30px 0 0;

    h3 {
        margin: 0 0 10px 10px;
    }

    img {
        width: 25px;
        height: 25px;
    }
}

.nav__contact-options {
    position: relative;
    top: 15px;

    @include respond-to('medium') {
        width: 300px;
        right: -100px;
    }

    @include respond-to('large') {
        top: 25px;
    }
}

.nav__link a {
    padding: 0 20px;
}

// Dropdown
.dropdown {
    position: relative;

    .dropdown__link-container {
        display: flex;
        position: relative;
        cursor: pointer;
        max-width: 160px;
        margin: 0 auto;
    }

    .dropdown__select--img {
        width: 10px; 
        height: 10px;
        margin: auto 0 auto 5px;
        position: relative;
        bottom: 7px;

        @include respond-to('medium') {
            right: 20px;
        }
    }


    .dropdown__up {
        display: none;
    }

    .dropdown__down {
        background-color: $white;
        max-width: 300%;
        width: 300%;
        margin: 0 auto;
        overflow-y: scroll;
        height: 500px;
        margin-left: -100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        @include respond-to('small') {
            width: 350%;
            max-width: 350%;
            margin-left: -125%;
        }

        @include respond-to('medium') {
            position: absolute;
            height: auto;
            overflow: hidden;
            top: 17px;
            z-index: 12;

            width: 1000px !important;
            display: inline-block;
        }

        .dropdown__select {
            overflow-y: scroll;

            @include respond-to('medium') {
                display: flex;
                flex-wrap: wrap;
                margin: 25px 0;
                overflow: hidden;;
            }  
        }

        .dropdown__option {
            background-color: #FFF;
            color: $black;
            max-width: 100%;
            height: 100px;
            margin: 0 auto;
            position: relative;
            padding: 20px;

            @include respond-to('medium') {
                width: 210px;
                margin: 0;
            }
        }

        .dropdown__option--img {
            width: 40px;
            height: 40px;
            left: 30px;
            top: 30px;
            position: absolute;

            @include respond-to('small') {
                left: 25px;
                top: 20px;
                width: 50px;
                height: 50px;
            }

            @include respond-to('medium') {
                left: 10px;
            }
        }

        .dropdown__option--a {
            position: absolute;
            left: 90px;
            bottom: 30px;
            display: block;
            width: 100%;
            max-width: 200px;

            @include respond-to('small') {
                left: 100px;
                bottom: 40px;
            }

            @include respond-to('medium') {
                top: 35px;
                left: 75px;
                max-width: 165px;
                height: auto;
            }
        }

        .dropdown__option--link a {
            cursor: pointer;
            font-size: 24px;

            &:hover {
                color: #000;
            }

            @include respond-to('medium') {
                font-size: 18px;
            }
        }

        .dropdown__container-link {
            max-width: 80%;
            margin: 30px auto;
            transition: ease-in-out 0.3s all;
            display: block;

            &:hover {
                transform: scale(1.1);
            } 

            @include respond-to('medium') {
                margin: 15px auto;
           }
        }

    }

    
    img {
        // position: absolute;''
        width: 10px;
        height: 100%;
    }
}

// User
.nav__user {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    

    @include respond-to('medium') {
        right: 10px;
        top: 10px; 
        position: absolute;
        width: 5%;
        margin-top: 0;
    }
     
}

.nav__user--id, .nav__user--log-out, .search__icon  {
    transition: ease-in-out 0.3s;

    &:hover {
        transform: scale(1.2);
    }
}

.nav__user--img {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

.nav__user--log-out {
    margin-top: 30px;
    
    @include respond-to('medium') {
       position: relative;
       margin-top: 0;
    }
    
}

.logout {
    cursor: pointer;
}
