.rehabilitering__h1 {
    margin-bottom: 15px;

    @include respond-to('small') {
        margin-bottom: 25px;
    }
}

// Rehabilitering
.rehabilitering__img-1{
    @include respond-to('medium') {
        margin: 50px 0;
    }
}

.rehabilitering__p--1 {
    margin-bottom: 10px;
}

.rehabilitering__p--2 {
    margin-bottom: 15px;
}

// Kamerainspeksjon
.kamerainspeksjon__heading-container {
    position: relative;
    margin-top: 25px;

    .kamerainspeksjon__new {
        position: absolute;
        top: -15px;
        font-size: 14px;
        font-weight: 700;
    }
}

.kamerainspeksjon__h1 {
    margin-bottom: 15px;
}

.kamerainspeksjon__p--1 {
    margin-bottom: 15px;
}

.kamerainspeksjon__btn-container {
    padding-bottom: 50px;

    @include respond-to('medium') {
        margin-top: 30px;
    }
}