.stålpipe__h1 {
    margin-bottom: 25px;
}

.stålpipe__p--1 {
    margin-bottom: 15px;
}

.stålpipe__btn-container {
    padding-bottom: 50px;

    @include respond-to('medium') {
        margin-top: 30px; 
    }
}

.stålpipe__imgs {
    display: flex;

    @include respond-to('small') {
        margin-bottom: 50px;
    }
}

.stålpipe__img-1 {
    @include respond-to('small') {
        position: relative;
        flex: 60%;
        right: 20px;
        z-index: 1;
    }
}

.stålpipe__img-2 {
    @include respond-to('small') {
        position: relative;
        flex: 30%;
        left: 20px;
        top: 150px;
        z-index: 2;
    }

    @include respond-to('x-large') {
        top: 200px;
    }
}