.tak-pipe__text-container {
    margin-bottom: 25px;
}

// Taksikring
.taksikring__h3 {
    margin-bottom: 15px;
}

.taksikring__p--1 {
    margin-bottom: 10px;
}

.taksikring__p--2 {
    margin-bottom: 15px;
}

// Pipebeslag
.pipebeslag-container {
    @include respond-to('large') {
        margin-bottom: 50px;
    }

    @include respond-to('x-large') {
        margin-bottom: 100px;
    }
}

.pipebeslag__h3 {
    margin: 30px 0 15px 0;
}

.pipebeslag__p--1 {
    margin-bottom: 10px;
}

.pipebeslag__p--2 {
    margin-bottom: 15px;
}

.tak-pipe__btn-container {
    margin-bottom: 15px;

    @include respond-to('medium') {
        margin-top: 30px;
    }
}

.pipebeslag__imgs {
    display: flex;
    position: relative;

    @include respond-to('small') {
        margin-bottom: 50px;
    }

    .pipebeslag__img-1 {
        flex: 50%;

        @include respond-to('small') {
            position: relative;
            flex: 65%;
            right: 20px;
            z-index: 1;
        }
    }

    .pipebeslag__img-2 {
        flex: 50%;

        @include respond-to('small') {
            flex: 35%;
            position: relative;
            top: 150px;
            left: 20px;
            z-index: 2;
        }

        @include respond-to('large') {
            top: 200px;
        }
    
        @include respond-to('x-large') {
            top: 230px;
        }
    }
}