h1, h2 {
    font-family: le-monde-livre-std, serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
}

h2 {
    font-weight: 400;
    line-height: 35px;
}

h3 {
    font-weight: 400;
    line-height: 30px;
}

h4 {
    font-weight: 500;
}

p, h3, h4, input, textarea, h6,.form-dropdown__input, .option {
    font-family: objektiv-mk2, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
}

.input__required {
    font-size: 10px;
}

a, .nav__link--extra-a, .dropdown__option--a,  button {
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.nav__phone-number {
    font-weight: 300;
}

.p__normal {
    font-weight: 400;
}

.p__bold {
    font-weight: 700;
} 

// Confirmatio dialog
.confirmation__heading--text {
    font-size: 35px;
}

// Search
.search__result-container a {
    font-size: 35px;
}

// 404
.not-found__content {
    h1 {
        color: #fff;
    }
    color: #fff;
}

// Global font variants
.orange-text {
    color: $orange;
}
