h1, h2, h3, h4 {
    font-family: "libre-franklin", Helvetica, sans-serif;
    color: $dark-blue;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 2px;
}

h2 {
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
}

h3 {
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
}

h6 {
    font-size: 16px;
    
}

p,input, textarea {
    font-family: 'RNS Sanz Normal';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.input__required {
    font-size: 10px;
}

a, button {
    font-family: 'Gothic A1';
    font-size: 16px;
    font-weight: 500;
}

.nav__phone-number {
    font-size: 18px;
    font-weight: 300;
}

.p__bold {
    font-weight: 700;
}

