.use-pro {
    margin-bottom: 50px;
    max-width: 95%;

    @include respond-to('small') {
        margin-top: 100px;
    }

    @include respond-to('medium') {
        margin-top: 200px;
        max-width: 80%;
    }
}

.use-pro__center {
    @include respond-to('medium') {
        display: flex;
        justify-content: space-between;
    }
}

.use-pro__content {
    padding: 10px;

    @include respond-to('small') {
        padding-right: 20px;
    }

    @include respond-to('medium') {
        width: 50%;
        max-width: 600px;
        padding: 0 20px 0 0;
    }

    p {
        @include respond-to('medium') {
            width: 100%;
        }
    }

}

.use-pro__img-container {
    position: relative;
    z-index: 1;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    @include respond-to('x-small') {
        width: 80%;
        left: 0%;
        right: 0%;
        margin: 0 auto;
    }

    @include respond-to('medium') {
        width: 450px;
    }
}

.use-pro__content--subheading {
   margin-top: 50px;
   margin-bottom: 30px;
}

.use-pro__content--btn {
    margin-top: 30px;
}