.use-pro {
    margin-bottom: 50px;

    @include respond-to('small') {
        margin-bottom: 100px;
    }

    @include respond-to('medium') {
        margin-bottom: 150px;
    }

    @include respond-to('large') {
        margin-bottom: 200px;
        max-width: 100%;
    }
}

.use-pro__center {
    @include respond-to('medium') {
        display: flex;
        justify-content: space-between;
    }
}

.use-pro__content {
    padding: 10px;

    @include respond-to('small') {
        padding: 30px;
    }

    @include respond-to('medium') {
        height: 80%;
        padding: 50px 50px 100px 50px;
        margin: auto 0;
    }

    p {
        @include respond-to('medium') {
            width: 350px;
        }
    }

}

.use-pro__img-container {
    text-align: center;
    width: 100%;
    max-width: 70%;
    height: auto;
    margin-left: 5px;

    @include respond-to('small') {
        max-width: 50%;
        margin-left: 25px;
    }

    @include respond-to('medium') {
        width: 450px;
        max-width: 100%;
    }
}

.use-pro__content--subheading {
    margin: 50px 0;
}

.use-pro__content--btn {
    margin-top: 50px;
    width: 100px;
}