.use-pro {
    margin-top: 100px;

    background-color: #FFF;

    @include respond-to('medium') {
        margin-top: 300px;
    }

    @include respond-to('large') {
        max-width: 100%;
        margin-top: 300px;
    }
}

.use-pro__center {
    @include respond-to('medium') {
        width: 70%;
        display: flex;
    }

    @include respond-to('large') {
        margin: 0 auto;
    }
}

.use-pro__content {
    padding: 10px;

    @include respond-to('small') {
        padding: 30px;
    }

    @include respond-to('medium') {
        height: 80%;
        padding: 50px 50px 100px 50px;
        margin: auto 0;
    }

    p {
        @include respond-to('medium') {
            width: 350px;
        }
    }

}

.use-pro__img-container {
    text-align: center;
}

.use-pro__img {
    max-width: 500px;
    width: 100%;
    text-align: center;

    @include respond-to('medium') {
        max-width: 350px;
        width: 105%;
        position: absolute;
        bottom: 0;
    }
}

.use-pro__content--subheading {
    margin: 50px 0;
}

.use-pro__content--btn {
    margin-top: 50px;
    width: 100px;
}