// Colours
$dark-blue: #364955;
$darker-blue: #27353E;
$white: #FFF;
$darker-white: #f0f0f0;
$light-grey: #F3F3F3;
$grey: #E4E4E4;
$dark-grey: #D2D2D2;
$link: #D45F1C;
// Endret fra rød til oransge, derfor rød farge
$orange: #F74141; 

$light-blue: #9AC8E4;
$beige: #BFAB93;
$black: #000000;
$error: #F34150;
$warning: #FF8A3D;
$success: #36CC72;
$footer: #424242;

// Breakpoints
$breakpoints: (
    'x-small': 345px,
    'small': 767px,
    'medium': 992px,
    'large': 1200px,
    'x-large': 1535px,
    'xx-large': 1845px
)