// Colours
$dark-blue: #293846;
$light-blue: #9AC8E4;
$orange: #F3A451;
$white: #F3F3F3;
$beige: #BFAB93;
$black: #000000;
$error: #F34150;
$warning: #FF8A3D;
$success: #36CC72;
$footer: #424242;

// Breakpoints
$breakpoints: (
    'small': 767px,
    'medium': 992px,
    'large': 1200px
)
 
